<form action="" >
	keyword : <input type="text" name="q" value="<%= @keyword %>" /><br />
	site Url :<input type="text" name="site" value="<%= @site %>" />
	
	<input type="submit" />
</form>
<hr />
<%= @list%>
<hr />
<%= @page_link %>
