
FG Search
<form method="GET" name="search" >
	Keyword:<input type="text" name="keyword" id="keyword" autocomplete = "off" /><br />

	<input type="submit" />
</form>

Keyword : <%= @keyword %>

<hr />
<%= @result %>
